body {
  width: 960px;
  margin: 0px auto;
  padding: 2rem;
  text-align: left;
  background-color: #333;
  color: #fff;
  line-height: 1.25;
}

#list {
  margin-top: 2rem;
  display: flex;
}

.items {
  padding: 1rem;
  width: 200px;
  height: 200px;
  background-color: #ddd;
  margin: 1rem;
  color: #333;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
